.body {
    /* min-height: 100vh; */
    flex: 0.85;
    /* background: linear-gradient(rgb(20, 64, 89), rgb(0, 0, 0, 1)); */
    color: white;
    overflow-y: scroll;
    transition: all 250ms ease-in-out;
}

.main {
    margin-top: 30px;
    overflow: hidden;
}